name: Build Cloner APK

on:
  push:
    branches: [ main ]
  workflow_dispatch: # Allows manual trigger

jobs:
  build:
    name: Generate Debug APK
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'zulu'
          cache: gradle

      # This action automatically accepts all licenses (SDK & NDK)
      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Grant Execute Permission
        run: chmod +x gradlew

      - name: Build with Gradle
        # Using --no-daemon makes the build more stable on GitHub runners
        run: ./gradlew assembleDebug --stacktrace --no-daemon

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Cloner-v1-Debug
          path: app/build/outputs/apk/debug/app-debug.apk
